Repository pradeepngupta/tswindrush: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsc --noEmit, next lint --fix, npm run format:fix

fixing pre-commit
  .husky/pre-commit
Due: npm run format:fix

adding tsc script
  package.json
Due: npm run format:fix

eslint recommendation on nextjs
  .eslintrc.json
  .lintstagedrc.js
  .lintstagedrc.json
  next.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

fixing warning on hello.tsx
  pages/api/hello.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

added tsc in lintstagedrc
  .lintstagedrc.js
Due: next lint --fix, npm run format:fix

Added dependabot
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  INTEGRATION.md
Due: npm run format:fix

using ubuntu 24.04
  .github/workflows/deploy-nextjs-pages.yml
Due: npm run format:fix

sync package and package.json
  package-lock.json
  package.json
Due: npm run format:fix

.vscode extensions
  .gitignore
  .vscode/extensions.json
Due: npm run format:fix

multiple minor things
  .github/dependabot.yml
  .github/workflows/deploy-nextjs-pages.yml
  package.json
Due: npm run format:fix

uploading code coverage artifacts
  .github/workflows/coverage.yml
  TechStack.md
Due: npm run format:fix

fix coverage.yml
  .github/workflows/coverage.yml
Due: npm run format:fix

Running Jest test case using @swc/jest
  INTEGRATION.md
  jest.config.ts
  jest.setup.ts
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Added a new Jest Test case
  .lintstagedrc.js
  __tests__/index.test.tsx
  pages/index.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

upload code coverage
  .github/workflows/coverage.yml
  jest.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Integrated with Playwright
  .github/workflows/playwright.yml
  .gitignore
  __e2e__/example.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

integrated tailwind css, postcss, autoprefixer. updated tech stack + added description
  INTEGRATION.md
  PostCSS_scheme.png
  TechStack.md
  assets/tech-stack.png
  package-lock.json
  package.json
  playwright-architecture.png
  postcss.config.js
  styles/Home.module.css
  styles/globals.css
  tailwind.config.js
Due: next lint --fix, npm run format:fix

Single CI Run with various builds
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy-nextjs-pages.yml
  .github/workflows/playwright.yml
Due: npm run format:fix

Optimizing ci.yml
  .github/workflows/ci.yml
Due: npm run format:fix

fixing ci.yml
  .github/workflows/ci.yml
Due: npm run format:fix

fixing ci yml
  .github/workflows/ci.yml
Due: npm run format:fix

moving all documentation in the docs folder
  README.md
  docs/Contributing.md
  docs/DEPLOYMENT.md
  docs/INTEGRATION.md
  docs/NextJS_Default.md
  docs/PostCSS_scheme.png
  docs/TechStack.md
  docs/playwright-architecture.png
Due: npm run format:fix

debug ci.yml
  .github/workflows/ci.yml
  docs/PostCSS_scheme.png
Due: npm run format:fix

debug ci.yml
  .github/workflows/ci.yml
Due: npm run format:fix

reverting optimisation
  .github/workflows/ci.yml
Due: npm run format:fix

fix ci
  .github/workflows/ci.yml
Due: npm run format:fix

fixing ci.yml
  .github/workflows/ci.yml
  next.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Enhanced Readme ile
  README.md
  docs/Contributing.md
  docs/DEPLOYMENT.md
  docs/INTEGRATION.md
  docs/NextJS_Default.md
  docs/TechStack.md
Due: npm run format:fix

updated ReadMe file
  README.md
  assets/tech-stack.png
  assets/ts-windrush.svg
Due: npm run format:fix

Added typescript template given by Next js
  .gitignore
  __tests__/index.test.tsx
  jest.config.ts
  next-env.d.ts
  pages/_app.tsx
  pages/api/hello.tsx
  pages/index.tsx
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  styles/Home.module.css
  styles/globals.css
  tailwind.config.js
  tailwind.config.ts
  tsconfig.json
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

SEO related changes to build Sitemap & robots.txt
  .github/workflows/ci.yml
  next.config.ts
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/favicon.svg
  src/app/icon.png
  src/app/layout.tsx
  src/app/manifest.json
  src/app/robots.ts
  src/app/sitemap.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Fix Jest test case
  __tests__/app/page.test.tsx
  __tests__/index.test.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

updating libraries + robots.ts + ci.yml
  .github/workflows/ci.yml
  package.json
  src/app/robots.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

package-lock.json
  package-lock.json
Due: npm run format:fix

removing deployment to github pages documentation
  README.md
  assets/tech-stack.png
  docs/DEPLOYMENT.md
  docs/TechStack.md
  package-lock.json
  package.json
Due: npm run format:fix

Adding more badges
  README.md
Due: npm run format:fix

Path conditions:
  npx tsc --noEmit: any of: *.{ts,tsx}
  next lint --fix: any of: *.{js,jsx,ts,tsx}
  npm run format:fix: any of: *
