Repository pradeepngupta/tswindrush: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsc --noEmit, next lint --fix, npm run format:fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": "npx tsc --noEmit",
  "*.{js,jsx,ts,tsx}": "next lint --fix",
  "*": "npm run format:fix"
}

Adding api routes
  src/app/api/hello/route.tsx
  src/app/api/version/route.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Added More Versions + Change Badge URLs in ReadMe
  README.md
  src/app/api/version/route.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Added dynamic Badges
  README.md
Due: npm run format:fix

added more dynamic badge
  README.md
Due: npm run format:fix

Enhanced ReadMe
  CODE_OF_CONDUCT.md
  README.md
Due: npm run format:fix

Adding Roadmap + Code of Conduct and feature request template
  .github/ISSUE_TEMPLATE/feature-request.md
  CODE_OF_CONDUCT.md
  README.md
Due: npm run format:fix

Added gif for the Demo and enhanced Readme
  README.md
  assets/tech-stack.png
  assets/ts-windrush.gif
Due: npm run format:fix

enhance ReadMe
  README.md
Due: npm run format:fix

jest config to show code coverage
  jest.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Updated Usage documentation
  README.md
Due: npm run format:fix

updated the ReadMe (formatting)
  README.md
Due: npm run format:fix

again formatting
  README.md
Due: npm run format:fix

updated jest config to lower threshold
  jest.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

renaming file from js to ts
  .lintstagedrc.js
Due: next lint --fix, npm run format:fix

.ts not working
  .lintstagedrc.js
  src/app/api/hello/route.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

eslint upgrade
  package-lock.json
  package.json
Due: npm run format:fix

upgrading to tailwindcss 4.0.0
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  src/app/page.tsx
  tailwind.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

formatting change
  README.md
  package-lock.json
  package.json
  src/app/api/hello/route.tsx
  src/app/api/version/route.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  tailwind.config.ts
  tsconfig.json
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

landing page
  package-lock.json
  package.json
  src/app/components/contact-form.tsx
  src/app/components/footer.tsx
  src/app/components/header.tsx
  src/app/components/theme-toggle.tsx
  src/app/components/ui/button.tsx
  src/app/components/ui/form.tsx
  src/app/components/ui/input.tsx
  src/app/components/ui/label.tsx
  src/app/components/ui/textarea.tsx
  src/app/components/ui/toast.tsx
  src/app/components/ui/use-toast.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/lib/utils.tsx
  src/app/page.tsx
  tailwind.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

landing page working
  src/app/globals.css
  src/app/layout.tsx
  src/app/metadata.ts
  src/app/page.tsx
  tailwind.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Landing Page Working
  src/app/components/ui/input.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Landing Page Working - formatting
  src/app/components/ui/textarea.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Landing Page Working - formatting
  src/app/components/ui/use-toast.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

landing page modification + other pages
  public/logo.png
  public/tech-stack.png
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/app/components/footer.tsx
  src/app/components/header.tsx
  src/app/components/layout.tsx
  src/app/docs/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/license/page.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  tailwind.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

formatting
  .husky/pre-commit
Due: npm run format:fix

remove components layout
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/app/components/layout.tsx
  src/app/docs/page.tsx
  src/app/license/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

remove components layout formatting
  .eslintrc.json
Due: npm run format:fix

Updated Dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix

Updated ReadMe with link to npm package
  README.md
Due: npm run format:fix

updated dependencies
  package-lock.json
  package.json
Due: npm run format:fix

updated dependencies + readme doc
  README.md
  package-lock.json
  package.json
Due: npm run format:fix

Added tswindrush logo and other changes to page.tsx
  __tests__/app/page.test.tsx
  package.json
  public/github-mark.svg
  public/ts-windrush.svg
  src/app/page.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Created Jest test cases for robots and sitemap
  __tests__/app/robots.test.tsx
  __tests__/app/sitemap.test.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Added Test cases for api routes
  __tests__/app/api/hello.test.tsx
  __tests__/app/api/version.test.tsx
  jest.config.ts
  src/app/api/hello/route.tsx
  src/app/api/version/route.tsx
  src/app/layout.tsx
Due: npx tsc --noEmit, next lint --fix, npm run format:fix

Added playwright test scenarios
  __e2e__/example.spec.ts
  __e2e__/hello.spec.ts
  __e2e__/robots.spec.ts
  __e2e__/sitemap.spec.ts
  __e2e__/tswindrush.spec.ts
  __e2e__/version.spec.ts
  playwright.config.ts
Due: npx tsc --noEmit, next lint --fix, npm run format:fix
